---
layout: default
title: shows
---

<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h2>{{site.booking_message}}</h2>
</header>

<body>
    {% for show in site.data.shows %}
        <p class="shows">
           > 
            <span class="li--span-date ">{{ show.date }}</span>
            {% if show.name %}
            <span class="li--span-name "> <span class="li--span-seperator">__</span> {{ show.name }}</span>
            {% endif %}
    
            <br>
            <span class="li--span-seperator">...</span>
            <span class="li--span-location ">{{ show.location }}</span>
        </p>
    {% endfor %}
    

</body>
