<header class="post-header">
    <h1 class="post-title">
        <!-- {{ page.title | escape }} -->
        listen
    </h1>
</header>

<section>
    <div class="div--player-container-wrapper" >
        <iframe class="iframe--player-container"  src="https://bandcamp.com/EmbeddedPlayer/album=1218887390/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://mirrormonster.bandcamp.com/album/pretty-things-made-with-all-our-love">Pretty Things Made With All Our Love by Mirror Monster</a></iframe>
    </div>
    <div class="div--player-container-wrapper" >
        <iframe class="iframe--player-container"  src="https://bandcamp.com/EmbeddedPlayer/album=1346343531/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://mirrormonster.bandcamp.com/album/free-from-all-the-walls-ep">Free From All The Walls EP by Mirror Monster</a></iframe>
    </div>
</section>